/*------------------ ESTILO AL MENU---------------*/

.menu{
    display: flex;
    justify-content:space-around;
    grid-area: menu;
    margin:0;
    background-color: $bgmenu;
    li{
        list-style: none;
        a{
            text-decoration: none;
            color: black;
            font-size: 25p;
            &:hover{
                color: $hovermenu;
            }
        }
    }
}