/*COLORES GRADIENTE BG*/
$bglg: #361ce2;
$bglg1: #9d92e4;

/*COLORES MENU*/
$bgmenu: #88f49c;
$hovermenu: whitesmoke;

/*COLORES SECCION*/
$bgh3: #71fb8d;
$bgp1: #71fb8d;

/*COLORES FOOTER*/
$bgpie: #88f49c;

/*COLOR CARDS PRODUCTOS*/
$cardProd: #71fb8d;


