/*COLORES GRADIENTE BG*/
$bglg: #afff96;
$bglg1: #bbbaba;

/*COLORES FOOTER*/
$bgpie: #8dce78;

/*COLORES HEADER*/
/*----- NO TIENE------*/

/*COLORES SECCION*/
$bgh3: #f8f47d;
$bgp1: #83df71;

/*COLORES MENU*/
$bgmenu: #58c04b;
$hovermenu: whitesmoke;


