body{
    background-image: linear-gradient(to right, $bglg, $bglg1);
    background-attachment:fixed;
    background-origin:inital;
    background-repeat:no-repeat;
    min-height: 100%;
    width: 100%;
 }

 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{height: 100%;}


